@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: hsl(221 68 93);
    --color-primary-100: hsl(221 78 86);
    --color-primary-200: hsl(224 67 76);
    --color-primary-300: hsl(225 57 67);
    --color-primary-400: hsl(227 50 59);
    --color-primary-500: hsl(227 42 51);
    --color-primary-600: hsl(228 45 45);
    --color-primary-700: hsl(230 49 41);
    --color-primary-800: hsl(232 51 36);
    --color-primary-900: hsl(234 62 26);

    --font-sans: "InterVariable", "sans-serif";
}

@utility ring-contrast {
    @apply dark:ring-1 dark:ring-white/15;
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/inter/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/inter/InterVariable-Italic.woff2") format("woff2");
}
